
body {
    font-family: 'Montserrat';
}

.header {
    max-width: 1178px;
    margin: 40px;
}

.logo {
    display: inline-block;
    width: 430px;
}

.logo img {
    margin-left: 3rem;
}

#menu{
    display: inline-block;
    font-size: 14px;
}
ul {
    list-style-type:none;
    margin-left: 2rem;
    
}

li {
    display: inline;
    padding-left: 2rem;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #A5A5A5;
}

.icon {
    display: inline-block;  
}

.icon img {
    margin-bottom: -5px;
    margin-left: 3rem;
    width: 24px;
    height: 24px;

}
.btn {
    display: inline-block;
    margin-left: 20px;
}

button {
    padding: 13px 32px 13px 32px;
    background-color: #EFCC49;
    border: none;
    font-family: Montserrat;
}   

p {
    color: #A5A5A5;
}


/* SECTION ONE  */

.pr {
    display: flex;
    flex-direction: column;
}

.section_one {
    padding-right: 140px;
    /* min-width: 30vh; */
    /* max-width: 1178px; */
}

.title_one h1 {
    display: inline-block;
    font-size: 64px;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0px 24px 34px 0px rgba(4, 5, 18, 0.04);
    backdrop-filter: blur(6px);
    padding: 2rem 2rem 2rem 0rem;
    
}

.image_one {
    float: right;
    position: relative;
    z-index: 1;
    width: 677px;
    height: 485px;
}

.ornamet {
    display: inline-block;
}
.ornamet-img {
    position: absolute;
    z-index: 2;
    float: right;
    top: 0;
    right: 0;;

}
.title_one {
    float: left;
    position: absolute;
    z-index: 2;
    margin-left: 5rem;
    width: 560px;
    height: 225px;
}

.book_input {
    width: 400px;
    height: 45px;
    float: left;
    border: none; 
    outline: none;
    padding-left: 1rem;
    box-shadow: -17px 13px 68px 0px rgba(7, 10, 25, 0.08);
}

.enter_btn {
    width: 87px;
    height: 46px;
    float: right;
    border: none;
    background: #EFCC49;
}

.article_one {
    margin-right: 1rem;
}

.section_two {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
}

.section_two_item {
    flex-grow: 1;
    flex-basis: 0;
}

.section_two_item p {
    padding-right: 4rem;
}

.section_three {
    margin: 2rem;
    display: flex;
}

.section_three img {
    padding-right: 3rem;
}

.section_three p {
    width: 454.218px;
}

.btn_sec {
    color: black;
    padding: 13px 24px;
    border: 1.5px solid #223237;
    font-weight: 600;
}

.section_four {
    margin-left: 3rem;
}

.section_four p {
    width: 418.033px;
}

/* SECTION FIVE  */

.section_five .title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bg {
    position: absolute;
}
.section_five h3 {
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
}

.section_five p {
   width: 389.193px;
}
.quote {
    display: inline-block;
    width: 50%;
}
.article {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.pictures {
   width: 50%;
}

.decor img {
    position: relative;
}
.costumer img {
    position: absolute;
}

.section_six {
    text-align: center;
    background:  #223237;
    padding: 3rem;
}

.section_six h3{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
/* .section_six p {
    width: 486.198px;
} */

.email-input {
    padding: 1rem;
}

.sub-btn {
    padding: 1rem;
    background: #EFCC49;
}



/* FOOTER  */

footer {
    background: #223237;
    text-align: center;
}

.f-menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 1rem;
}

.social {
    display: flex;
}

.listHead {
    color: white;
    font-size: 14px;
}
.list {
    line-height: 2.5rem;
}

.list ul li {
    padding-top: 0.5rem;
}
.text {
    text-align: left;
    width: 183.601px;
    line-height: 2.5rem;
    margin-left: 3rem;
}