
body {
    font-family: 'Montserrat';
}

.header {
    max-width: 1200px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    max-width: 1200px;
    margin: 40px;
}
.logo {
    width: 430px;
}

.logo img {
    margin-left: 3rem;
}

#menu{
    font-size: 14px;
}
ul {
    list-style-type:none;
    margin-left: 2rem;
    
}

.menu-items li {
    display: inline;
    padding-left: 2rem;
}

a {
    text-decoration: none;
    color: #A5A5A5;
}

/* .icon {
    display: inline-block;  
} */

.icon img {
    margin-bottom: -5px;
    margin-left: 3rem;
    width: 24px;
    height: 24px;

}
.btn {
    display: inline-block;
    margin-left: 20px;
}

button {
    padding: 13px 32px 13px 32px;
    background-color: #EFCC49;
    border: none;
    font-family: Montserrat;
}   

p {
    color: #A5A5A5;
}


/* SECTION ONE  */

.pr {
    display: flex;
    flex-direction: column;
}

.section_one {
    padding-right: 125px;
    margin-left: 40px;
}

.article_one h1 {
    display: inline-block;
    font-size: 64px;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0px 24px 34px 0px rgba(4, 5, 18, 0.04);
    backdrop-filter: blur(6px);
    padding: 2rem 3rem 2rem 0rem;
    
}

.image_one {
    float: right;
    position: relative;
    z-index: 1;
    height: 484.792px;
    flex-shrink: 0;
}

/* .image-one-decor {
    position: relative;
} */
.ornamet {
    display: inline-block;
}
.ornamet-img {
    position: absolute;
    z-index: 2;
    float: right;
    top: 0;
    right: 0;;

}
.article_one {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin-left: 5rem;
    width: 560px;
    height: 225px;
}

.book_input {
    width: 393.004px;
    height: 68px;
    border: none; 
    outline: none;
    padding-left: 16px;
    box-shadow: -17px 13px 68px 0px rgba(7, 10, 25, 0.08);
}

.enter_btn {
    width: 123px;
    height: 70px;
    flex-shrink: 0;
    border: none;
    background: #EFCC49;
}

.title-one {
    width: 560px;
}
.input-bar{
    display: flex;
    width: 560px;
    margin-right: 1rem;
}


/* SECTION TWO */
.section_two {
    margin: 125px;
    display: flex;
    justify-content: space-between;
}

.section_two_item {
    flex-grow: 1;
    flex-basis: 0;
}

.section_two_item p {
    padding-right: 4rem;
}


/* SECTION THREE  */
.section_three {
    margin-right: 125px;
    margin-left: 125px;
    display: flex;
}

.section_three img {
    padding-right: 3rem;
}

.section_three p {
    width: 454.218px;
    margin-bottom: 2rem;
}

.btn_sec {
    color: black;
    padding: 13px 24px;
    border: 1.5px solid #223237;
    font-weight: 600;
}

.section_four {
    margin: 125px;
}

.section_four p {
    width: 418.033px;
    margin-bottom: 2rem;

}

/* SECTION FIVE  */

.section_five {
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 3rem;
}

.section_five .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.bg {
    position: absolute;
}
.section_five h3 {
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
}

.section_five p {
   width: 389.193px;
}

.quote {
    display: inline-block;
    width: 40%;
}
.article {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.pictures {
   width: 50%;
}

/* .decor img {
    position: relative;
}
.costumer img {
    position: absolute;
} */

.section_six {
    text-align: center;
    background:  #223237;
    padding: 3rem;
}

.section_six h3{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.section_six p {
    margin-bottom: 2rem;
}

.email-input {
    padding: 1rem;
    border: none;
}

.sub-btn {
    padding: 1rem;
    background: #EFCC49;
    border: none;
}



/* FOOTER  */

footer {
    background: #223237;
    text-align: center;
    padding: 0 3rem 3rem 3rem;
}

.logo2 {
    margin-top: 2rem;
}
.f-menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-right: 3rem;
    margin-left: 3rem;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
}

.listHead {
    color: white;
    font-size: 14px;
}
.list {
    line-height: 2.5rem;
}

.list ul li {
    padding-top: 0.5rem;
    display: list-item;
}
.text {
    text-align: left;
    width: 183.601px;
    line-height: 2.5rem;
    margin-left: 2rem;
}

.copyright {
    background: #1D2B2F;
    text-align: center;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 28px;
}